* {
  margin: 0;
  box-sizing: border-box;
}

body {  
  background-color: whitesmoke;
}

nav {
  padding: 10px 40px 10px 40px;
  background-color: black;
  font-size: 25pt;
}

nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0rem;
}

nav ul li.logo {
  flex: 1;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.list-products:after {
  content: "";
  display: table;
  clear: both;
}

.list-products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
}

.card {
  width: 25%;
  /* margin: 0 20px 0 0; */
  margin-top: 5px;
  margin-right: 5px;
  float: left;
}

.beli-button {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .list-products {
    display: block;
  }
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 400px) {
  .list-products {
    display: block;
  }
  .card {
    width: 100%;
  }
}

.form-group {
  margin-bottom: 10px;
}

.ck-editor__editable_inline {
  min-height: 300px;
}